# URL base de la aplicación bajo prueba
BASE_URL=https://www.saucedemo.com

# Credenciales estándar de SauceDemo
STANDARD_USER=standard_user
LOCKED_USER=locked_out_user
PROBLEM_USER=problem_user
PERFORMANCE_USER=performance_glitch_user
USER_PASSWORD=secret_sauce

# Ejecución
HEADLESS=true
CI=false

# Umbrales mínimos de Lighthouse (performance)
LH_PERFORMANCE=80
LH_ACCESSIBILITY=90
LH_BEST_PRACTICES=90
LH_SEO=90
